p{
  margin: 0;
  padding: 0;
  line-height: 1;
}
i:hover{
  cursor: pointer;
}

.container {
  width: 100%;
  max-height: 70vh;
  background-color: white;
  border-radius: 8px;
  padding: 10px 20px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.15);

}
.tb-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.tb-title p{
  font-size: 1.2rem;
  font-weight: 600;
}


/* Header table styling */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

thead th:first-child {
  border-top-left-radius: 8px;
}

thead th:last-child {
  border-top-right-radius: 8px;
}
.last-row{
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}


.main-row th {
  background-color: var(--navbar-title-color);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.empty{
  white-space: wrap;
  text-align: center;
}
/* Scrollable body */
.table-body {
  max-height: 40vh;
  overflow-y: auto;
}

.table-body table {
  width: 100%;
  border-collapse: collapse;
}

.main-row td {
  color:black;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 8px;
}

/* Divider line between rows */
.row-divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 4px 0;
}


/* paginatiom */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  /* background-color: yellowgreen; */
  margin-top: auto;
}

.pagination-container p {
  margin: 0;
  line-height: 1;
  font-size: .7rem;
}

.pagination {
  display: flex;
  gap: 5px;
  align-items: center;
}

.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 4px;
  background-color: var(--main-content-bg-color);
  border: 1px solid gray;
  width: 20px;
  height: 20px;
}
